.Pokemon_type_Feu{
    color : #D10000 ;/* Banderol rouge Nom pokémon*/
    color : #655564 ;/* Couleur Primaire*/
    color : #655564 ;/* Couleur Primaire*/
    color : #655564 ;/* Couleur Primaire*/

}
