body 
{
    background: #445AAA40;
}


.carte{
    margin: 20px;
    margin-bottom: 50px;
}

.card {
    border: 0 solid #fff;
    border-radius: 25px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);  
}

.card i {
    position: absolute;
    top: 20px;
    left: -15px;
    width: 80%;
    height: 50px;
    background: #D10000;
    border-radius: 30px;
    border-bottom-left-radius:0 ;

    display: flex;
    align-items: center;
    padding-left: 25px;
}

.card i::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50px;
    width: 15px;
    height: 30px;
    background-color: #680000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;

}

.card i::after
{
    content: '';
    position: absolute;
    left: 0;
    top: 50px;
    width: 15px;
    height: 15px;
    background: #D10000;
}

.pokemon {
    height: 180px;
    width: 200px;
    padding: 25px;
    margin-top: 60px;
}

.pokemon_img {
    display: flex;
    justify-content: center;
}

h5{
    color: white;
    font-style: normal;
}

.col-lg-4 .card {
    background: linear-gradient(#D0141460, #D0141420);
}